@page
@model Webshop.UI.Pages.Checkout.CheckoutModel
@{
    @*var totalprice = 0;
    @foreach (var item in Model.Cart.CartItems)
    {
        totalprice += item.Price;
    }*@

}



<br />
<h1>Checkout</h1>
<br />
<a class="btn btn-light" asp-route-id="@Model.Cart.CartId" asp-page-handler="GoBack">Go Back</a>
    <br />
    <form asp-page-handler="Pay" asp-route-id="@Model.Cart.CartId">
        <div class="form-group">
            <label asp-for="user.CreditCardNumber">Creditcart number: </label>
            <input asp-for="user.CreditCardNumber" class="form-control">
        </div>

        <br />
        <button type="submit" class="btn btn-white">Pay</button>
    </form>


