@page
@model Webshop.UI.Pages.Checkout.RecieptHistoryModel
@{
}

<h1>Receipt history</h1>
<br />
<a class="btn btn-light" asp-page="/StorePage/LoggedinIndex" asp-route-id="@Model.Cart.CartId" asp-page-handler="GoBack">Go Back</a>

