@page
@model Webshop.UI.Pages.Checkout.RecieptHistoryModel
@{

}
<br />
<a class="btn btn-light" asp-page="/StorePage/LoggedinIndex" asp-route-id="@Model.Cart.CartId" asp-page-handler="GoBack">Go Back</a>
<br />
<br />
<h1>Payment Successful!</h1>
<br />



