@page
@model Webshop.UI.Pages.Products.ProductsModel
@{
}

<h1>Products</h1>

@foreach (var item in Model.Products)
	{
		<img src="@item.Image" alt="Card image cap" class="img-thumbnail" />
		<h6>Product : @item.Name</h6>
        <h6>Price : @item.Price$</h6>
        <form asp-page-handler="ShoppingCart">
            <input type="hidden" asp-for="Id" value="@item.Id" />
            <br />
            <button type="button" class="btn btn-light">Add to cart</button>
            <br />
        </form>
        
	}