@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to IT.com</h1>
</div>

<br />

<div class="text-center" role="alert">
    We are an international IT company with 100 different clients nation wide.
    <br />
    We are stationed in Stockholm, Sweden with 10 different officies in India and USA.
</div>

<br />

<div class="text-center">
    <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/03/1c/9c.jpg" alt="Alternate Text" />
    <br />
    <h1>Preview of products</h1>
    <br />
</div>


<div class="card-deck">

    @foreach (var item in Model.Products)
    {
        <div class="card" style="width: auto;">
            <img class="card-img-top" src="@item.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Message</p>
            </div>
        </div>
    }
</div>
